<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <title>Lista de Libros</title>
  <link href="css/one-page-wonder.min.css" rel="stylesheet" />
  <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
          crossorigin="anonymous"
  />
  <link rel="stylesheet" href="/css/index.css" />

<!--  <link rel="stylesheet" href="/css/lista.css" />-->
</head>
<body>
<nav th:replace="~{layout :: navbar}"></nav>
<div class="container mt-5">
  <div th:replace="~{layout :: mensajes}"></div>
  <h2 class="text-center mb-4">Lista de Libros</h2>
  <table class="table table-striped table-bordered">
    <thead class="table-dark">
    <tr>
      <th>ISBN</th>
      <th>Título</th>
      <th>Ejemplares</th>
      <th>Fecha de Alta</th>
      <th>Autor</th>
      <th>Editorial</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="libro : ${libros}">
      <td th:text="${libro.isbn}"></td>
      <td th:text="${libro.titulo}"></td>
      <td th:text="${libro.ejemplares}"></td>
      <td th:text="${#dates.format(libro.alta, 'dd/MM/yyyy')}"></td>
      <td th:text="${libro.autor.nombre}"></td>
      <td th:text="${libro.editorial.nombre}"></td>
      <td class="d-flex flex-row justify-content-end gap-2"> <a class="btn btn-primary" th:href="@{/libro/editar/{isbn}(isbn=${libro.isbn})}">
        Editar
      </a> <a class="btn btn-danger" th:href="@{/libro/eliminar/{isbn}(isbn=${libro.isbn})}">
        Eliminar
      </a></td>
    </tr>
    </tbody>
  </table>
  <div class="text-center mt-4">
    <a th:href="@{/home}" class="btn btn-primary">Volver al Inicio</a>
  </div>
</div>
<footer th:replace="~{layout :: footer}"></footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>